section.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(0deg, #141410, #1b1b16);
    background: -webkit-linear-gradient(0deg, #141410, #1b1b16); */
    background: linear-gradient(0deg, #101014, #16161b);
    background: -webkit-linear-gradient(0deg, #101014, #16161b);
    width: 100%;
    padding: 120px 80px 60px 80px;
    overflow: hidden;
    position: relative;
}

section.home .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    z-index: 2;
}

section.home .imagem .foto {
    width: 100%;
    height: 500px;
    background-size: 1000px;
    background-position: right center;
    border: 1px solid var(--cor-amarelo);
    border-radius: 20px;
}

section.home .imagem img.icone {
    position: absolute;
}

section.home .imagem img.icone.um {
    width: 100px;
    top: 50px;
    right: -20px;
}

section.home .imagem img.icone.dois {
    width: 60px;
    bottom: 50px;
    left: -20px;
}

section.home .imagem .foto {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

section.home .texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    z-index: 2;
}

section.home .texto h1 {
    font-size: var(--f6);
    font-weight: bold;
    color: var(--cor-branco);
    text-transform: uppercase;
    line-height: 1;
}

section.home .texto h2 {
    font-weight: bold;
    font-size: var(--f4);
    color: var(--cor-branco);
    margin: 15px 0 10px 0;
}

section.home .texto h2 span {
    color: var(--cor-amarelo);
}

section.home .texto p {
    font-size: var(--f2);
    color: var(--cor-branco);
    opacity: 0.7;
}

section.home .texto .botoes {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}

section.home .texto .botoes a {
    font-size: var(--f2);
    color: var(--cor-branco);
    background-color: var(--cor-amarelo);
    padding: 15px 25px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    transition: all 0.3s;
}

section.home .texto .botoes a:hover {
    background-color: var(--cor-cinza);
}

section.home .blush {
    width: 1000px;
    height: 1000px;
    /* background: radial-gradient(#fffb1d78, transparent 50%); */
    background: radial-gradient(#ffffffe8, transparent 50%);
    border-radius: 50%;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

section.home .blush.um {
    bottom: -300px;
    left: -300px;
    animation: blushOpacidade 15s linear infinite;
}

section.home .blush.dois {
    top: -300px;
    right: -200px;
    animation: blushOpacidade 15s linear infinite;
}

@keyframes blushOpacidade {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(1.3);
    }

    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1000px) {
    section.home {
        flex-direction: column;
        padding: 100px 30px 60px 30px;
    }

    section.home .imagem {
        width: 100%;
    }

    section.home .imagem .foto {
        height: 300px;
        background-size: 900px;
        border-radius: 10px;
    }

    section.home .imagem img.icone.um {
        width: 80px;
        right: -10px;
    }

    section.home .imagem img.icone.dois {
        width: 40px;
        left: -10px;
    }

    section.apresentacao .texto {
        width: 100%;
    }

    section.apresentacao .texto h1 {
        font-size: var(--f5);
        max-width: 200px;
    }

    section.apresentacao .texto h2 {
        font-size: var(--f3);
    }

    section.apresentacao .texto p {
        line-height: 1.5;
        max-width: 250px;
    }

    section.apresentacao .texto .botoes {
        flex-direction: column;
        align-items: flex-start;
        margin: 25px 0 30px 0;
    }

    section.apresentacao .texto .botoes a.destaque {
        margin: 10px 0 0 0;
    }

    section.home .blush {
        width: 750px;
        height: 750px;
    }
}