section.planos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #141410, #1b1b16);
    background: -webkit-linear-gradient(0deg, #141410, #1b1b16);
    width: 100%;
    padding: 60px 80px;
    overflow: hidden;
}

.container {
    width: 1600px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container .card {
    width: 400px;
    height: 570px;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(135deg, var(--cor-cinza) 0%, #333333 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.container .card:hover {
    transform: scale(1.050);    
}

.container .card .card-title {
    padding: 30px 20px;
}

.hrPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    margin-left: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.447);
}

.container .card .card-title h2 {
    font-size: 20px;
    padding-bottom: 15px;
    /* color: yellow; */
    color: rgb(255, 255, 255);
}

.container .card .card-title p span {
    font-size: 40px;
    padding: 0 5px;
}

span.detalhe {
    color: var(--cor-amarelo);
}

.container .card .card-content ul {
    padding: 10px 30px;
    padding-bottom: 20px;
}

.container .card .card-content ul li {
    list-style: none;
    padding: 10px 0;
}

.container .card .card-content ul li i {
    margin-right: 4px;
}

.container .card .card-content button {
    width: 120px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.container .card .card-content button:hover {
    background-color: var(--cor-amarelo);
    box-shadow: 0 20px 30px 0 #a29d1b2f;
    letter-spacing: 1.2px;
}

.container .card .card-content button a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* .planos-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.plano {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plano h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.plano p {
    font-size: 1.3em;
    color: var(--cor-amarelo);
    margin-bottom: 20px;
}

.plano ul {
    list-style-type: none;
    padding: 0;
}

.plano ul li {
    text-align: center;    
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--cor-cinza);
}

.box-button {

}

section.planos .plano .botoes {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}

section.planos .plano .botoes {
    font-size: var(--f2);
    color: var(--cor-branco);
    background-color: var(--cor-amarelo);
    padding: 15px 25px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    transition: all 0.3s;
}

section.planos .botoes a:hover {
    background-color: var(--cor-cinza);
} */