section.planos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #101014, #16161b);
    background: -webkit-linear-gradient(0deg, #101014, #16161b);
    width: 100%;
    padding: 60px 80px;
    overflow: hidden;
}

.planos-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.plano {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plano h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.plano p {
    font-size: 1.3em;
    color: var(--cor-amarelo);
    margin-bottom: 20px;
}

.plano ul {
    list-style-type: none;
    padding: 0;
}

.plano ul li {
    text-align: center;    
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--cor-cinza);
}

.box-button {

}

section.planos .plano .botoes {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}

section.planos .plano .botoes {
    font-size: var(--f2);
    color: var(--cor-branco);
    background-color: var(--cor-amarelo);
    padding: 15px 25px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    transition: all 0.3s;
}

section.planos .botoes a:hover {
    background-color: var(--cor-cinza);
}