section.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background: linear-gradient(135deg, var(--cor-cinza) 0%, #333333 100%);
    background: -webkit-linear-gradient(135deg, var(--cor-cinza) 0%, #333333 100%);
    width: 100%;
    height: 960px;
    padding: 60px 110px;
    overflow: hidden;    
}

.sobreTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-size: var(--f5);
    font-weight: bold;
    color: var(--cor-branco);
    text-align: center;
}

.sobreHr {
    width: 50px;
    margin: 15px 0;
    height: 6px;
    border-radius: 50px;
    background-color: var(--cor-cinza);
}

.sobreContent {
    width: 100%;
}

.um {
    transition: all 0.9s;
}

.dois {
    transition: all 0.9s;
}

.tres {
    transition: all 0.9s;
}

.quatro {
    transition: all 0.9s;
}

.cinco {
    transition: all 0.9s;
}

.seis {
    transition: all 0.9s;
}

.um:hover {
    img {
        transform: scale(1.090);
    }

    p {
        color: #ffffff;
        text-shadow: 4px -4px 30px #ffffff;
        letter-spacing: 0.1px;
    }
}

.dois:hover {
    img {
        transform: scale(1.090);
    }

    p {
        color: #ffffff;
        text-shadow: 4px -4px 30px #ffffff;
        letter-spacing: 0.1px;
        letter-spacing: 0.1px;
    }
}

.tres:hover {
    img {
        transform: scale(1.090);
    }

    p {
        color: #ffffff;
        text-shadow: 4px -4px 30px #ffffff;
        letter-spacing: 0.1px;
    }
}

.quatro:hover {
    img {
        transform: scale(1.090);
    }

    p {
        color: #ffffff;
        text-shadow: 4px -4px 30px #ffffff;
        letter-spacing: 0.1px;
    }
}

.cinco:hover {
    img {
        transform: scale(1.090);
    }

    p {
        color: #ffffff;
        text-shadow: 4px -4px 30px #ffffff;
        letter-spacing: 0.1px;
    }
}

.seis:hover {
    img {
        transform: scale(1.090);
    }

    p {
        color: #ffffff;
        text-shadow: 4px -4px 30px #ffffff;
        letter-spacing: 0.1px;
    }
}


.sobreTitle span {
    color: var(--cor-amarelo);
}

.sobreContent h3 {
    font-size: var(--f4);
    font-weight: bold;
    color: var(--cor-branco);
    text-align: center;
    margin-bottom: 5px;
}

.sobreContent h4 {
    font-size: 22px;
    text-align: center;
    width: 500px;
    color: var(--cor-branco);
    margin-bottom: 25px;
}

.boxParagraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -16px;
    height: 100px;
    width: 370px;
}

.sobreContent p {
    text-align: center;
    font-size: 14px;
    /* color: var(--cor-cinza); */
    color: #ffffff42;
    line-height: 1.5;
    transition: all 0.9s;
}

.boxContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 300px;
    padding: 40px;
}

.boxImg {
    margin-bottom: 20px;
}

.content img {
    height: 120px;
}